<section class="card-container container">
    <app-card
        cargo="Desenvolvedor Analytics (Analista Desenvolvedor Br)"
        salario="R$ 15.000,00"
        descricao="Oportunidade para Analista Desenvolvedor Br atuar em projeto para cliente do segmento bancário"
        localidade="São Paulo / SP"
        vagas="2 Vagas"
        data="22 Out"
    ></app-card>
    <app-card
        cargo="Desenvolvedor Analytics (Analista Desenvolvedor Br)"
        salario="R$ 15.000,00"
        descricao="Oportunidade para Analista Desenvolvedor Br atuar em projeto para cliente do segmento bancário"
        localidade="São Paulo / SP"
        vagas="2 Vagas"
        data="22 Out"
    ></app-card>
    <app-card
        cargo="Desenvolvedor Analytics (Analista Desenvolvedor Br)"
        salario="R$ 15.000,00"
        descricao="Oportunidade para Analista Desenvolvedor Br atuar em projeto para cliente do segmento bancário"
        localidade="São Paulo / SP"
        vagas="2 Vagas"
        data="22 Out"
    ></app-card>
    <app-card
        cargo="Desenvolvedor Analytics (Analista Desenvolvedor Br)"
        salario="R$ 15.000,00"
        descricao="Oportunidade para Analista Desenvolvedor Br atuar em projeto para cliente do segmento bancário"
        localidade="São Paulo / SP"
        vagas="2 Vagas"
        data="22 Out"
    ></app-card>
    <app-card
        cargo="Desenvolvedor Analytics (Analista Desenvolvedor Br)"
        salario="R$ 15.000,00"
        descricao="Oportunidade para Analista Desenvolvedor Br atuar em projeto para cliente do segmento bancário"
        localidade="São Paulo / SP"
        vagas="2 Vagas"
        data="22 Out"
    ></app-card>
</section>