<div class="card">
    <div class="card-body">
        <div class="description">
            <h3>{{cargo}}</h3>
            <span>{{salario}}</span>

            <p>{{descricao}}</p>
        </div>

        <div class="information">
            <span>{{localidade}}</span>

            <div class="row">
                <h4 class="quantidade">{{vagas}}</h4>
                <h4 class="data">{{data}}</h4>
            </div>

            <button class="button" href="s">Candidatar-me</button>
        </div>
    </div>
</div>