<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Vagas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <div id="description">
                        <h3>Desenvolvedor Analytics</h3>
                        <h3>(Analista Desenvolvedor Br)</h3>
                        <span>R$ 15.000,00</span>

                        <p>Oportunidade para Analista Desenvolvedor Br atuar em projeto para cliente do segmento bancário</p>
                    </div> <hr>

                    <div id="information">
                        <span>São Paulo / SP</span>

                        <div class="row">
                            <h4 class="col-5 quantidade">2 Vagas</h4>
                            <h4 class="col-6 data">22 Out</h4>
                        </div>

                        <div class="row">
                            <button class="btn col-12" href="">Candidatar-me</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div id="description">
                        <h3>Desenvolvedor Analytics</h3>
                        <h3>(Analista Desenvolvedor Br)</h3>
                        <span>R$ 15.000,00</span>

                        <p>Oportunidade para Analista Desenvolvedor Br atuar em projeto para cliente do segmento bancário</p>
                    </div> <hr>

                    <div id="information">
                        <span>São Paulo / SP</span>

                        <div class="row">
                            <h4 class="col-5 quantidade">2 Vagas</h4>
                            <h4 class="col-6 data">22 Out</h4>
                        </div>

                        <div class="row">
                            <button class="btn col-12" href="">Candidatar-me</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
